<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>papertradr</title> 
    <link rel="stylesheet" href="assets/styles/invest_info.css"> 
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
    <?php if($_SESSION["name"]){ ?>
      <nav>
          <ul>
            <li class="welcome">Welcome to <span style="color: #0faa55;">PaperTradr</span> <?php echo htmlspecialchars($_SESSION["name"], ENT_QUOTES, 'UTF-8'); ?>
            </li>
            <li><a href="main.html">Home</a></li> |
            <li><a href="news.html">News</a></li> |
            <li><a href="calc.html">Calculator</a></li> |       
            <li><a href="watchlist.html">Watchlist</a></li> |     
            <li><a href="logout.php">Logout</a></li>
          </ul>
        </nav>

      <?php } else { ?>
        <nav>
          <ul>
            <li class="welcome">Welcome to <span style="color: #0faa55;">PaperTradr</span>
            </li>
            <li><a href="main.html">Home</a></li> |
            <li><a href="register.html">Register</a></li> |
            <li><a href="login.html">Login</a></li>
          </ul>
        </nav>
      <?php } ?>
        <br>

        <h1> What Is a Roth IRA? </h1>
        <div id="first"><img src="assets/images/cc.jpg" width="800" height="500"></div>
        <br>
        <div id="content">
            <h2>Roth IRA meaning </h2>
            <p> A Roth IRA(Indivdual Retirement Account) is an account that offers tax-free growth and tax-free withdrawals in retirement. A Roth IRA is a great choice for individuals who expect to be in a higher tax bracket in retirement then they currently are. It is also beneficial to those who want to diversify their retirement savings beyond traditional tax-deferred accounts.</p>
            <h2> Benefits of a Roth IRA</h2>
            <p> At retirement, the major benefit of a Roth IRA is that you will be able to withdraw your money without it ever being taxed. What your account has generated is all yours to keep. </p>
            <h2>Withdrawing Before 59.</h2>
            <p>Although it is not recommended to withdraw money, emergencies can happen. If you make any withdrawal before 59, you may have to pay taxes and penalties on those earnings.</p>
            <p>Only withdraw the amount you need, if you withdraw too much, you may not be able to place it back into the account since contributions are capped at $6,000.00 a year.</p>
            <h2> When to open up a Roth IRA</h2>
            <p>The sooner the better. Unlike a 401k, contributions are capped at $6,000.00 a year, therefore time is the key to generating a fruitful retirement account that will be tax-free.</p>
            <p>Here are a list of several brokers where you can open a Roth IRA </p>
            <ul class="brokers">
                <li>Vanguard</li>
                <li>Fidelity</li>
                <li>Charles Schwab</li>
                <li>TD Ameritrade</li>
                <li>E*Trade</li>
                <li>Ally Invest</li>
                <li>Merrill Edge</li>
                <li>Robinhood</li>
            </ul>
            <p>These are just a few to name to get you started on your way.</p>
            <h3>Next, learn about <a href="trad.html">Opening a Traditional IRA</a></h3>
        </div>    
    </main>
</body>

</html>
